.community{
  &__join{
    @include center-block;
  }
}

#community{
  background-image: none;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  border-top: 0.125rem solid $primary;
  padding: 0;
  overflow: hidden;

  .container{
    padding: 1rem 0 2rem 0;
  }

  h3{
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.8rem;
    letter-spacing: 0.15rem;
    position: relative;
    transition: all 1s ease-in-out; 

    strong{
      font-weight: bold;
    }
  }

  .stat-members{
    font-size: 2.2rem;
    padding-left: 4rem;  
    right: 50vw;
  }

  .stat-members.triggered{
    transform: translate(50vw, 0);
  }

  .stat-courses{
    color: $gray-light;
    font-size: 1.8rem;
    right: -100vw;
    transition-delay: 0.5s;
  }

  .stat-courses.triggered{
    transform: translate(-100vw, 0);
  }

  .stat-fellows{
    color: $gray-med;
    font-size: 1.8rem;
    padding-left: 8rem;
    right: 50vw;
    transition-delay: 1s;
    right: 50vw;
  }

  .stat-fellows.triggered{
    transform: translate(50vw, 0);
  }

  .stat-convo{
    color: $primary;
    font-family: linotype-didot, serif;
    font-style: italic;
    text-transform: unset;
    font-size: 2rem;
    transition-delay: 1.5s;
    right: -100vw;
  }

  .stat-convo.triggered{
    transform: translate(-100vw, 0);
  }

  p{
    margin: 1rem;
    max-width: 36rem;
  }

}

@media screen and (min-width: $small-break){
  #community{
    background-image: url('img/bg/woman-computer.jpg');
    .container{
      background-color: rgba(255,255,255,0.5)
    }

    p{
      padding-left: 4rem;
      margin: 1rem;
    }

    .stat-convo{
      padding-left: 2rem;
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width: $medium-break){
  #community{
    .container{
      background-color:transparent;
    }
  }
}