#fellows{
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  .heading-line {
    .line-l {
      flex: 0 0;
      width: 0;
    }

    h2{
      flex: 0 0 auto;
    }
  }

  .fellow-container{
    margin: 0;
    padding: 0;
  }

  /* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: $primary;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

  .button-bold{
    margin: 2rem;
    @include center-block;
  }
}

.fellow{
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 10%;
  padding: 1rem;

  .fellow-line{
    position: absolute;
    border-top: 0.25rem solid $primary;
    width: 30%;
    top: 10%;
    left: -7.5%;
    z-index: 5;
  }

  figure{
    width: 100%;
    margin: 0;
    
    img{
      transition: all 0.5s ease-out;
      width: 70%;
      height: auto;
    }    
  }

  h3{
    font-size: 1rem;
    font-family: serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1rem;
    padding: 0 0 0 1rem;
  }

  p{
    padding: 0 0 0 3rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: $small-break) {
  #fellows{
    .heading-line {
      .line-l {
        flex: 0 1 60%;
      }
  
      h2{
        flex: 1 0 auto;
      }
    }

    .fellow-container{
      padding: 3rem 0 3rem 0;
    }
  }

  .fellow {
    margin: 0 5%;
    width: 40%;

    &:hover{
      img{
        transform: scale(1.15);
      }

      h3{
        color: $primary;
      }
    }
  }
}

@media only screen and (min-width: $medium-break) {
  .fellow {
    margin: 0 4%;
    width: 25%;
  }
}
