#fellows{
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  .heading-line {
    .line-l {
      flex: 0 0;
      width: 0;
    }

    h2{
      flex: 0 0 auto;
    }
  }

  .fellow-container{
    margin: 0;
    padding: 1rem;
  }

  /* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: $primary;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

  .button-bold{
    margin: 2rem;
    @include center-block;
  }
}

.fellow{
  position: relative;
  width: 80%;
  height: auto;
  margin: 2rem 2rem;
  padding: 1rem;

  .fellow-line{
    position: absolute;
    border-top: 0.25rem solid $primary;
    width: 30%;
    top: 10%;
    left: -7.5%;
  }

  figure{
    width: 100%;
    margin: 0;
    img{
      width: 100%;
      height: auto;
    }    
  }

  h3{
    font-size: 1rem;
    font-family: serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1rem;
    padding: 0 0.5rem 0 2rem;
    margin-right: -4rem;
  }

  p{
    padding: 0 0.5rem 0 4rem;
    margin-right: -4rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}

@media (min-width: $small-break) {
  #fellows{
    .heading-line {
      .line-l {
        flex: 0 1 60%;
      }
  
      h2{
        flex: 1 0 auto;
      }
    }
  }

  .fellow {
    width: 30%;
  }
}