#podcasts{
  background-image: url('img/bg/podcast-bg-1.jpg');
  background-size: 150% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: $gray-dark;
  color: $text-light;
  overflow: hidden;

  &.active{
    background-image: url('img/bg/podcast-bg-2.jpg');
  }

  .heading-line {
    .line-l {
      flex: 0 0;
      width: 0;
    }

    h2{
      flex: 0 0 auto;
    }
  }

  img{
    position: relative;
    bottom: -2rem;
    margin: auto;
    width: 2rem;
    height: auto;
  }

 .pod-text{
    margin: 1rem 2rem 70% 2rem;
    border-left: 0.25rem solid $primary;
    padding: 1rem;
  }

  .button-bold{
    @include center-block;
    text-shadow: none;
  }
}

@media only screen and(min-width: $small-break) {
  #podcasts {
    background-size: cover;
    background-position: center;

    .heading-line {
      .line-l {
        flex: 0 1 40%
      }
  
      h2{
        flex: 1 0 auto;
      }
    }

    img{
      display: none;
    }

    .pod-text{
      border: 0;
      margin: 15vh 1rem 20vh 72%;
      max-width: 20rem;
      background-color: transparent;
    }
  }
}