html {
  font-size: $base-font-size;
  font-family: $font-sans;
}

main, header{
  margin: 0;
}

section{
  background-color: #FFF;
  padding: 1rem 0;
}

img {
  display: block;
}

.wrapper {
  margin: auto;
  max-width: $wrapper-size;
}

.container{
  width:100%;
  display: flex;
  flex-wrap: nowrap;

  .l-margin{
    flex: 1 1 auto;
  }

  .c-content{
    flex: 0 1 $wrapper-size;
  }

  .r-margin{
    flex: 1 1 auto;
  }
}