.btn{
  position: relative;
  display: inline-block;
  width: 10rem;
  margin: 0.5rem;
  border: 4px solid $text-light;
  outline: 0;
  padding: 1rem;
  overflow: hidden;
  background: none;
  cursor: pointer;
  z-index: 1;
  
  font-family: $font-sans-cond;
  color: $text-light;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-align: center;
  transition: 0.08s ease-in;

  &:before {
    content: "";
    position: absolute;
    background-color: $text-light;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.1s ease-in;
  }

  &:hover, &:active {
    color: $text-dark;

    &:before{
      top: 0;
    }
  }

  &--bold{
    border-color: $primary;
    color: $primary;
    &:before {
      background-color: $primary;
    }
    &:hover, &:active {
      color: $text-light;
    }
  }

  &--small{
    width: auto;
    margin: 0.25rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}




.button {
  border: 2px solid $primary;
  background-color: #FFF;
  color: $text-dark;
  padding: 1rem;
  display: inline-block;
  @include font-size(1.2);
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5rem;
  max-width: 13rem;
  font-family: $font-sans-cond;
  letter-spacing: .1rem;
  text-align: center;

  &:hover {
    background-color: $primary;
    color: $text-light;
  }

  &:active {
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
}

.button-ghost {
  @extend .button;
  background-color: $bg-white-half;
}

.button-bold {
  @extend .button;
  color: $text-light;
  background-color: $primary;

  &:hover {
    background-color: $primary-light;
    border-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
}


#back-to-top {
  display: inline-block;
  background-color: $primary;
  text-transform: uppercase;
  font-family: $font-sans-cond;
  color: $text-light;
  font-size: 0.8rem;
  text-decoration: none;
  width: 80px;
  height: 50px;
  position: fixed;
  text-align: center;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &::before{
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: #333;
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

}
