.button{
  border: 2px solid $primary;
  background-color: #FFF;
  color: $text-dark;
  padding: 1rem;
  display: inline-block;
  @include font-size(1.25);
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5rem;
  max-width: 11rem;
  font-family: $font-sans-cond;
  letter-spacing: .2rem;
  text-align: center;

  &:hover{
    background-color: $primary;
    color: $text-light;
  }

  &:active{
    background-color: $primary-dark;
    border-color: $primary-dark;    
  }
}

.button-ghost{
  @extend .button;
  background-color: $bg-white-half;
}

.button-bold{
  @extend .button;
  color: $text-light;
  background-color: $primary;

  &:hover{
    background-color: $primary-light;
    border-color: $primary-light;
  }

  &:active{
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
}


