.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.5); 
}

.slideshow {
	width: 20rem;
	height: 15rem;
	margin:0 auto;
	overflow:hidden;
	.slide-view {
		width:60rem; /* 300 x 4 */
		position:relative;
		animation:slide 16s ease-in-out infinite;
		.item {
			width:20rem;
			height:15rem;
			float:left;
		}
	}
}

@keyframes slide {
	0% {left:0;}
	33% {left:-20rem;}
	66% {left:-40rem;}
	100% {left:0;}
}

@media only screen and (min-width: $small-break){
	.slideshow {
		width: 30rem;
		height: 20rem;
		.slide-view {
			width:90rem; 
			.item {
				width:30rem;
				height:20em;
			}
		}
	}
	
	@keyframes slide {
		0% {left:0;}
		33% {left:-30rem;}
		66% {left:-30rem;}
		100% {left:0;}
	}
}

@media only screen and (min-width: $medium-break){
	.slideshow {
		width: 50rem;
		height: 30rem;
		.slide-view {
			width:150rem; 
			.item {
				width:50rem;
				height:30rem;
			}
		}
	}
	
	@keyframes slide {
		0% {left:0;}
		33% {left:-50rem;}
		66% {left:-100rem;}
		100% {left:0;}
	}
}