.heading-line{
  font-family: $font-serif-head;
  text-transform: uppercase;
  display: inline-block;
  font-style: italic;
  margin: 0.5rem 0;
  width:100%;
  display: flex;
  flex-wrap: nowrap;

  span{
    display: inline-block;
  }

  .line-l{
    position: relative;
    border-top: 1px solid $primary;
    top: 1.5rem;
    flex-grow: 1;
  }



  h2{
    display: inline-block;
    font-weight: 100;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem 1rem;
    flex-shrink: 1;
    flex-grow: 0;
  } 
}