$primary: #ed7722;
$primary-75: rgba(237, 119, 34,0.75);
$primary-light: #f3a46b;
$primary-dark: #aa5c25;
$gray-light: #d4d4d4;
$gray-med: #555555;
$gray-dark: #312d2c;
$text-dark: #2e2e2e;
$text-light: #F1f4f8;
$bg-white-half: rgba(255,255,255,0.75);

$base-font-size: 16px;

$font-sans: 'Nunito Sans', sans-serif;
$font-sans-cond: 'Open Sans Condensed', sans-serif;
$font-serif: linotype-didot, serif;

//$font-sans-cond: 'Open Sans Condensed', sans-serif;

$tiny-break: 25rem; //400/16
$small-break: 38rem; //608/16
$mobile-break: 38rem; //608/16
$medium-break: 56.25rem; //900/16
$large-break: 75rem; //1200/16

$wrapper-size: 64rem;